@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.none {
  display: none;
}

.btn {
  padding: 0.7rem 1.5rem;
  background: rgb(58, 58, 255);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: white;
}
.btn a {
  color: white;
  font-weight: 500;
}
.btnhover {
  background-color: rgb(80, 80, 248);
}

img, video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: grey;
}

p {
  font-size: 13px;
  color: grey;
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: black;
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: black;
}

.navBar {
  position: relative;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
}
.navBar .navBarOne, .navBar .navBarTwo {
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.navBar .navBarOne {
  background: whitesmoke;
}
.navBar .navBarOne .icon.hover {
  color: rgb(64, 64, 251);
}
.navBar .navBarOne .atb {
  gap: 1rem;
}
.navBar .navBarOne .atb span {
  color: black;
  font-size: 13px;
  cursor: pointer;
}
.navBar .navBarOne .atb span:hover {
  color: rgb(58, 58, 255);
  font-size: 700;
}
.navBar .navBarTwo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 3rem;
  padding: 1.5rem 1rem;
  position: fixed;
  transition: 0.3s ease-in-out;
}
.navBar .navBarTwo .logoDiv .Logo {
  width: 80%;
}
@media screen and (max-width: 768px) {
  .navBar .navBarTwo .navbarMenu {
    position: absolute;
    background-color: rgb(222, 222, 222);
    padding: 2rem;
    border-radius: 10px;
    top: 6rem;
    right: -80%;
    width: 75%;
    transform: rotateX(50%);
    z-index: 2000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border: 3px solid #eee;
    transition: 0.4s ease-in-out;
  }
  .navBar .navBarTwo .navbarMenu .menu {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .navBar .navBarTwo .navbarMenu .menu .listItem {
    padding: 0.5rem;
    cursor: pointer;
    color: black;
  }
  .navBar .navBarTwo .navbarMenu .menu .listItem:hover {
    color: rgb(58, 58, 255);
    font-weight: 700;
  }
  .navBar .navBarTwo .navbarMenu .btnOne {
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
  }
  .navBar .navBarTwo .btnTwo {
    display: none;
  }
}
.navBar .navBarTwo .toggleIcon .icon {
  font-size: 30px;
  color: black;
}
.navBar .navBarTwo .showNavBar {
  right: 50px;
  transition: 0.5s ease-in-out;
}

.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
}
.home .maintext {
  color: black;
  font-weight: 700;
  font-size: 15px;
  line-height: 2.5rem;
}
.home .homeImages {
  width: 100%;
  margin: 1rem auto 0;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5rem;
}
.home .homeImages .videoDiv {
  width: 100%;
}
.home .homeImages .videoDiv .video {
  border-radius: 10rem;
}
.home .homeImages .plane {
  position: absolute;
  width: 100%;
  top: -11%;
}

.search .sectionContainer {
  width: 100%;
  padding: 1.5rem;
  border: 2px solid grey;
  border-radius: 16px;
  row-gap: 2rem;
}
.search .sectionContainer .btns {
  background: rgb(223, 222, 222);
  padding: 0.5rem;
  border-radius: 1rem;
  width: 100%;
  flex-direction: column;
  margin: auto;
}
.search .sectionContainer .singleBtn {
  padding: 0.8rem 1.5rem;
  font-size: 13px;
  border-radius: 3rem;
  width: 80%;
  text-align: center;
}
.search .sectionContainer .singleBtn:hover {
  background-color: rgb(89, 89, 255);
  color: #ffffff;
  font-weight: 500;
  transition: 0.4s ease;
}
.search .sectionContainer .active {
  background-color: 255;
  color: #eee;
  font-weight: 500;
}
.search .searchInputs {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.search .searchInputs .singleInput .iconDiv {
  padding: 16px 10px;
  border-radius: 4rem;
  background: rgb(237, 237, 237);
  margin-left: 1rem;
}
.search .searchInputs .singleInput .iconDiv .icon {
  color: black;
  opacity: 0.7;
}
.search .searchInputs .singleInput .texts h4 {
  padding-top: 0;
  padding-bottom: 0.7rem;
  color: black;
  font-weight: 700;
}
.search .searchInputs .singleInput .texts input {
  width: 95%;
  border: none;
}/*# sourceMappingURL=main.css.map */